*{
    margin:0;
    font-family:  Helvetica, sans-serif;

}
.navbar{
    height: 60px;
    background-color: #030303;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
   

}
.nav-logo{
    height: 50px;
    width: 100px;
    border: 2px solid transparent;

}
.logo{
    background-image: url(resources/amazon_logo.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    width: 100%;

}   



.nav-logo:hover{
    border: 2px  solid white;
}


.nav-addr-box
{
    padding: 10px;
    
}

.nav-delivery{
    font-size:  .5rem ;
    color: #bdb8b8;
    margin-left: 20px;
    margin-top: 0px;

}

.nav-addr-icon{
    margin-top: -15px;
}

.nav-location{
    font-size: 1.25rem;
    margin-left: 20px;
}

.nav-addr-box:hover{
     border: 2px  solid white;
}

.searchbar{

}
